${report.title}

プロジェクト: ${report.project.name}
KEY         : ${report.key}
タイプ      : ${report.type.name}
優先度      : ${report.priority.name}
報告者      : ${report.reporter.name}
アサイン先  : <#if report.assignee.name?exists>${report.assignee.name}</#if>
状態        : <#if report.resolution.name?exists>${report.resolution.name}</#if>
ステータス  : ${report.status.name} => ${next.name}

${report.detail}
